.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1rem;
  transition: all 500ms ease-in-out;
  @media only screen and (max-width: 1080px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media only screen and (max-width: 780px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
